Django~=3.2.10
djangorestframework~=3.12.4
django-rest-auth~=0.9.5
qrcode~=7.3.1
django-silk~=4.2.0
django-allauth
django_google_maps
Pillow
django-cors-headers
djangorestframework-simplejwt==4.5.0
PyJWT==v1.7.1
djangorestframework-oauth
django-oauth-toolkit
dj-rest-auth
celery
redis
numpy
sklearn
pandas