Django~=3.2.10
djangorestframework~=3.12.4
django-rest-auth~=0.9.5
qrcode~=7.3.1
django-silk~=4.2.0
django-allauth
django_google_maps
Pillow
django-cors-headers
djangorestframework-simplejwt==4.5.0
PyJWT==v1.7.1
djangorestframework-oauth
django-oauth-toolkit
dj-rest-auth
celery
redis
numpy
sklearn
pandas
haversine
shapely
django-heroku
gunicorn
django-filter
django-notifications-hq
djangorestframework_jwt
ortools
pygad
geatpy
matplotlib
pymoo
django-extensions
django-celery-beat
django-auto-prefetching
shapely
wheel
pipwin
# After installing wheel and pipwin: https://stackoverflow.com/questions/54734667/error-installing-geopandas-a-gdal-api-version-must-be-specified-in-anaconda
# After that, install basemap after
basemap
basemap-data-hires
cplex
docplex
networkx
flower
eventlet
djangochannelsrestframework
whitenoise
django-storages[google]
django-storages
# ASGI libraries:
# uvicorn
# channels
pymemcache
django-slick-reporting
django-queryable-properties
django-admin-charts
django-nvd3
django-bower
django-jsonfield
django-adminplus