.Paddings
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.PaddingsText
{
    padding-top: 20px;
    padding-left: 50px;
}
DataTable {
    font-size: medium;
    font-weight: bold;
}